@import "./src/common/style";

.itemContainer {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: #ffffff;
    padding: 40px 27px 30px 30px;
    height: 100%;

    &:hover {
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    }
}

.title {
    display: block;
    line-height: 1.5;
    color: $primary-color-text;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 50px;

    &:hover {
        color: $primary-color-text;
    }
}

.relevance {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}

.footer {
    width: 100%;
    @include flexible();
    justify-content: space-between;
}

.compareBtn {
    position: relative;
    z-index: 10;
    @include primary-btn();
    width: 176px;
    height: 37px;

    &:disabled {
        background-color: #b4c9d1;
        color: black;
        cursor: default;
    }
}

.deleteCompareBtn {
    position: relative;
    z-index: 10;
    @include primary-btn();
    background-color: #b4c9d1;
    width: 176px;
    height: 37px;
    color: black;

    &:hover {
        background-color: #C7D5DB;
        color: black;
    }
}

.arrow {
    display: block;
}
