@import "./src/common/style";

.compare {

}

.topContainer {
    background-color: rgba(159, 111, 90, 0.2);
}

.top {
    padding: 40px 0;
    font-size: 36px;
    font-weight: bold;
    color: $primary-color-text;
}

.content {
    padding: 30px 0 70px;
}

.table {
    padding: 40px;
}
