@import "./src/common/style";

.navbar {
    display: block;
    width: 100%;
    background-color: $navbar-bg-color;
    padding: 15px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    @include flexible();
    justify-content: space-between;
}

.images {
    @include flexible();
    width: max-content;

    & img {
        display: block;
        height: 25px;
    }
}

.logo {
    margin-right: 40px;
}

.buttons {
    @include flexible();
}

.logoutBtn {
    @include navbarBtn();
    width: 140px;
}
