@import "./src/common/style";

.navbar {
    display: block;
    width: 100%;
    background-color: $navbar-bg-color;
    padding: 23px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.images {
    @include flexible();

    & img {
        display: block;
        height: 25px;
    }
}

.logo {
    margin-right: 40px;
}
