@import "./src/common/style";

.navbar {
    width: 100%;
    background-color: $navbar-bg-color;
    padding: 24px 0;
}

.container {
    @include flexible();
    width: 1140px;
    margin: 0 auto;

    & img {
        display: block;
        height: 25px;
    }
}

.logo {
    margin-right: 40px;
}