body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*@font-face {*/
/*  font-family: 'Helvetica Neue';*/
/*  src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),*/
/*  url('./fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),*/
/*  url('./fonts/HelveticaNeueCyr-Medium.woff') format('woff'),*/
/*  url('./fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Helvetica Neue';*/
/*  src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),*/
/*  url('./fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),*/
/*  url('./fonts/HelveticaNeueCyr-Roman.woff') format('woff'),*/
/*  url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Helvetica Neue';*/
/*  src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),*/
/*  url('./fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),*/
/*  url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff'),*/
/*  url('./fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

