@mixin flexible() {
    display: flex;
    align-items: center;
}

@mixin primary-btn() {
    cursor: pointer;
    outline: none;
    border: none;
    display: block;
    background-color: #9f6f5a;
    color: white;
    border-radius: 3px;
    transition: all 0.4s ease;

    &:hover {
        background-color: #B48774;
    }
}

@mixin transparent-btn() {
    cursor: pointer;
    outline: none;
    display: block;
    background-color: transparent;
    color: #9f6f5a;
    border-radius: 3px;
    border: solid 1px #9f6f5a;
    transition: all 0.4s ease;

    &:hover {
        background-color: #EDEAE8;
    }
}

@mixin poppins() {
    font-family: 'Poppins', sans-serif;
}

@mixin input() {
    border: none;
    outline: none;
    display: block;
    position: relative;
    padding-left: 56px;
    height: 50px;
    color: $primary-color-text;
    background-color: rgba(159, 111, 90, 0.08);
    border-radius: 3px;

    &:focus {
        box-shadow: 0 0 3px 0 #f8b294;
        border: solid 1px #9f6f5a;
    }
}

$navbar-bg-color: #151515;
$primary-color-text: #414744;
