@mixin flexible() {
    display: flex;
    align-items: center;
}

@mixin primary-btn() {
    display: block;
    background-color: #9f6f5a;
    color: white;
    border-radius: 3px;
    transition: all 0.4s ease;

    &:hover {
        background-color: #B48774;
    }
}

@mixin transparent-btn() {
    display: block;
    background-color: transparent;
    color: #9f6f5a;
    border-radius: 3px;
    border: solid 1px #9f6f5a;
    transition: all 0.4s ease;

    &:hover {
        background-color: #EDEAE8;
    }
}

@mixin poppins() {
    font-family: 'Poppins', sans-serif;
}

$navbar-bg-color: #151515;
$primary-color-text: #414744;
